html, body {
    background-color: rgb(66, 66, 66) !important;
}

.container {
    margin-top: 10%;
    margin-left: 17%;
    margin-right: 17%;
    height: 500px;
    display: block;
    flex-direction: row;
    background-color: rgb(66, 66, 66);
}

.login {
    padding: 5%;
    width: 45%;
    height: 100%;
    float: left;
    text-align: center;
    color: white;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
}

.register {
    padding: 5%;
    width: 45%;
    height: 100%;
    float: right;
    text-align: center;
    color: white;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
}

.box_title {
    text-align: center;
    margin-bottom: 10%;
}

.alert {
    margin-top: 10px;
}

.box_input {
    border: none;
    color: white;
    border-bottom: solid 1px white;
    background-color: rgb(34, 34, 34);
    margin-top: 10px;
}

.btn {
    margin-top: 10px;
    background-color: rgb(66, 66, 66) !important;
    border: rgb(66, 66, 66) !important;
}

.secret_button {
    background-color: red;
    color: white;
    border: 0px;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    right: 50%;
    top: 85%;
}

.btn:s{
    margin-top: 10px;
    color: white;
    background-color: rgb(66, 66, 66) !important;
    border: rgb(66, 66, 66) !important;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 20%;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}